<h1>New Bookmark for <%= @list.name %></h1>
<%= form_with(model: [@list, @bookmark], local: true) do |form| %>
  <%= form.label :movie_id, 'Choose a movie' %>
  <%= form.collection_select :movie_id, Movie.all, :id, :title %>
  <%= form.label :comment %>
  <%= form.text_area :comment %>
  <%= form.submit %>
<% end %>

