<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav>
      <%= link_to image_tag("popcorn_icon.jpg", size: "50x50"), root_path, id: "popcorn-icon" %>
      <div class="lists">
        <%= link_to "My lists", lists_path %>
        <%= link_to "New list", new_list_path %>
      </div>
    </nav>
    <%= yield %>
    <footer>
    
    </footer>
  </body>
</html>
